<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Lwt Rule Set" Description="Style rule set for lwt" ToolsVersion="15.0">
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
        <Rule Id="SX1309" Action="None" />
        <Rule Id="SX1101" Action="None" />
        <Rule Id="SA1633" Action="None" />
        <Rule Id="SA1609" Action="None" />
    </Rules>
    <Rules AnalyzerId="Microsoft.CodeAnalysis.FxCopAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.FxCopAnalyzers">
        <Rule Id="CA2007" Action="None"/>
        <Rule Id="CA2227" Action="None"/>
        <Rule Id="IDE0003" Action="None"/>
        <Rule Id="CA1725" Action="Info" />
        <Rule Id="CA2234" Action="Info" />
        <Rule Id="CA1062" Action="None" /> <!-- C# 8 -->
    </Rules>
</RuleSet>