@model LWT.Models.EditTextViewModel
@{
    ViewData["Title"] = "Add new text";
}
<form method="POST" asp-action="Add">
    <div class="form-group">
        <label asp-for="Text.Title" class="control-label"></label>
        <input asp-for="Text.Title" class="form-control" name="Title"/>
    </div>
    <div class="form-group">
        <label asp-for="Text.Language.ID" class="control-label">Language</label>
        <select asp-for="Text.Language.ID" asp-items="Model.Languages" name="Language">
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Text.Content" class="control-label"></label>
        <input asp-for="Text.Content" class="form-control" name="Content"/>
    </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default"/>
        </div>
    </form>