@model LWT.Models.ListTextViewModel
@{
    ViewData["Title"] = "Texts";
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.Texts[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Texts[0].Language)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var text in Model.Texts)
        {
            <tr>
                <td>
                    <a asp-controller="Text" asp-action="Detail" asp-route-id=@text.ID> @text.Title</a>
                </td>
                <td>
                    @text.Language.Name
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id=@text.ID>Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>