@model LWT.Models.ListLanguageViewModel
@{
    ViewData["Title"] = "Languages";
}

<table class="table table-triped">
    <thead>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
    </thead>
    <tbody>
        @foreach(Language language in Model.Languages)
        {
            <tr>
                <td>
                    @language.ID
                </td>
                <td>
                    <a asp-controller="Language" asp-action="Detail" asp-route-id=@language.ID>@language.Name</a> 
                </td>
            </tr>
        }
    </tbody>
</table>